img{
	width: 30%;
	margin: 1.66%;
	float: left;
}
p{
	font-family: Raleway;
	margin-left: 1.66%;
	border-bottom: 2px solid #f1f1f1;
	text-transform: uppercase;
	padding-bottom: 10px;
	width: 30%;
	font-size: 23px;
	font-weight: 800;
}